/*ESTILOS RESET*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*ESTILOS BODY GENERAL*/
body {
  max-width: 100%;
  background-color: #F0EEDD;
}

/*CSS NAVBAR*/
#navbarNav {
  padding-right: 30px;
}

.nav-link {
  color: #92C5C3;
  border: groove 3px #92C5C3;
  border-radius: 5px;
  font-family: "sour gummy";
}

/*MAIN GENERAL*/
main {
  min-height: 100vh;
}

/*ESTILOS BODY-INDEX*/
#bodyIndex {
  background-image: url(../image/background-index.jpeg);
  background-size: cover;
  max-width: 100%;
}

/*CSS MAIN-INDEX*/
.textoBienvenida {
  text-align: left;
  padding-top: 55px;
  padding-left: 40%;
}

/*MAIN PELICULAS*/
.tituloPelis {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin: 30px;
}

.cajaMadrePeli {
  display: flex;
  padding: 1px;
  margin: 60px;
  gap: 100px;
}
.cajaMadrePeli .peli {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  border: 5px ridge #afb87f;
}
.cajaMadrePeli .peli img {
  padding: 10px;
}

.cajaMadrePeli2 {
  display: flex;
  margin: 100px;
  padding: 5px;
  gap: 20px;
  border: 5px ridge #afb87f;
}

.subtituloMasPelis {
  padding-left: 128px;
}

/*MAS PELICULAS*/
.masPelis {
  display: flex;
  justify-content: center;
  margin: 40px;
  gap: 20px;
}

/*MAIN LEGADO*/
.tituloLegado {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  margin: 30px;
}

.cajaFundadores {
  display: flex;
  flex-direction: column;
  border-top: 5px solid #2f462f;
  border-bottom: 5px solid #2f462f;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 20px;
  margin: 0px 100px 0px 100px;
}

.hayaoMiyazaki {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isaoTakahata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textoHonorarios {
  text-align: center;
  padding: 50px 100px 10px 100px;
}

.imgDirectores {
  display: flex;
  flex-direction: row;
  margin: 30px 100px 80px 100px;
}
.imgDirectores .imgD {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.imgDirectores .imgD img {
  width: 120px;
  border: 2px solid #2f462f;
  border-radius: 90px;
  align-self: center;
}

/******MAIN GALERIA*******/
.textoGaleria {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  margin: 30px;
}

.cajaMadreGaleria {
  display: flex;
  flex-direction: column;
  margin: 10px 190px 10px 190px;
  border: 5px ridge black;
}
.cajaMadreGaleria .imgGaleria {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 15px;
}

/**LAYOUTS**/
.cajaMadreLayouts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 60px 40px 60px 40px;
}
.cajaMadreLayouts .textoLayouts {
  padding: 60px;
  max-width: 40%;
  text-align: center;
}
.cajaMadreLayouts .cajaImgLayouts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}
.cajaMadreLayouts .cajaImgLayouts .imgLayouts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/*MAIN CONTACTO*/
.cajaMadreContacto {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 50px;
}

.formContacto {
  display: flex;
  flex-direction: column;
}

.cajaLinkOficial {
  padding-top: 70px;
}

.linkContacto {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  color: #2f462f;
  text-decoration: non;
}

/*FOOTER GENERAL*/
footer {
  margin-top: auto;
  width: 100%;
  font-family: "sour gummy";
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: white;
  background-color: #3b3630;
}

.sectionPaginaOficial a {
  color: #92C5C3;
  padding: 20px;
  border: 3px ridge #726454;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 576px) {
  #bodyIndex {
    background-image: url(../image/fondo-index-mobile.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }
  .textoBienvenida {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-left: 0%;
  }
  /*CONTACTO*/
  .cajaMadreContacto {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
  }
  .cajaForm {
    padding: 40px;
    border-top: 2px solid black;
  }
}
@media (max-width: 768px) {
  .cajaMadrePeli {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
    gap: 30px;
    justify-content: center;
  }
  .cajaMadrePeli .peli {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    padding: 10px;
  }
  /*CAJA MADRE 2*/
  .cajaMadrePeli2 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    gap: 20px;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    justify-content: center;
  }
  /*MAS PELICULAS*/
  .masPelis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 15px;
  }
}
/*RESPONSIVE DE 576PX*/
@media (max-width: 576px) {
  .cajaMadrePeli {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 30px;
    gap: 30px;
    justify-content: center;
  }
  .cajaMadrePeli .peli {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    padding: 10px;
  }
  /*CAJA MADRE 2*/
  .cajaMadrePeli2 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    gap: 20px;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    justify-content: center;
  }
  /*MAS PELICULAS*/
  .masPelis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .cajaFundadores {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 5px;
    padding: 20px;
  }
  .cajaFundadores .hayaoMiyazaki, .cajaFundadores .isaoTakahata {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: justify;
  }
  .textoHonorarios {
    padding: 30px;
  }
  .imgDirectores {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .cajaFundadores {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 5px;
    padding: 20px;
  }
  .cajaFundadores .hayaoMiyazaki, .cajaFundadores .isaoTakahata {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: justify;
  }
  .textoHonorarios {
    padding: 30px;
  }
  .imgDirectores {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
