/*ESTILOS BODY-INDEX*/
#bodyIndex{
    background-image: url(../image/background-index.jpeg);
    background-size: cover;
    max-width: 100%;
}



/*CSS MAIN-INDEX*/
.textoBienvenida{
    text-align: left;
    padding-top: 55px;
    padding-left: 40%;
}