@media (max-width:576px){
    #bodyIndex{
        background-image: url(../image/fondo-index-mobile.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }
    .textoBienvenida{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 50px;
        padding-left: 0%;
    }

    /*CONTACTO*/
    .cajaMadreContacto{
            display: flex;
            flex-direction: column;
            padding-bottom: 200px
    }

        .cajaForm{
            padding: 40px;
            border-top: 2px solid black;
        }
}



///**RESPONSIVE PELICULAS**///
@media (max-width:768px){
    .cajaMadrePeli {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 30px;
        gap: 30px;
        justify-content: center;
        .peli {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: 3px ridge #afb87f;
            border-radius: 10px;
            padding: 10px;
        }
    }


    /*CAJA MADRE 2*/
    .cajaMadrePeli2 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    gap: 20px;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    justify-content: center;
    }

    /*MAS PELICULAS*/
    .masPelis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 15px;
    }
}

/*RESPONSIVE DE 576PX*/
@media (max-width:576px){
    .cajaMadrePeli {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin: 30px;
        gap: 30px;
        justify-content: center;
        .peli {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            border: 3px ridge #afb87f;
            border-radius: 10px;
            padding: 10px;
        }
    }


    /*CAJA MADRE 2*/
    .cajaMadrePeli2 {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    padding: 10px;
    gap: 20px;
    border: 3px ridge #afb87f;
    border-radius: 10px;
    justify-content: center;
    }

    /*MAS PELICULAS*/
    .masPelis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    gap: 15px;
    }
}


//////*MAIN LEGADO*////// 
//*RESPONSIVE DE 768PX*//
@media (max-width:768px){
    .cajaFundadores {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin: 5px;
        padding: 20px;
        .hayaoMiyazaki, .isaoTakahata {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            text-align: justify;
        }
    }
    
    .textoHonorarios {
        padding: 30px;
    }

    .imgDirectores {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

//*RESPONSIVE DE 576PX*//
@media (max-width:576px){
    .cajaFundadores {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin: 5px;
        padding: 20px;
        .hayaoMiyazaki, .isaoTakahata {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            text-align: justify;
        }
    }

    .textoHonorarios {
        padding: 30px;
    }

    .imgDirectores {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}